@font-face {
    font-family: 'Departure Mono';
    src: url('assets/DepartureMono-Regular.woff2') format('woff2');
}

:root {
    --font-family-primary: 'Departure Mono', monospace;

    --background-primary: #e2e2e2;
    --background-subtle: #c9c9c9;
    --foreground-primary: #242424;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family-primary);
    background-color: var(--background-primary);
    color: var(--foreground-primary);
}

body.dark {
    --background-primary: #242424;
    --background-subtle: #363636;
    --foreground-primary: #e2e2e2;
}

main {
    min-height: 100vh;
    padding: 80px 32px 32px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    font-family: var(--font-family-primary);
    background-color: var(--background-subtle);
    color: var(--foreground-primary);
    border: none;
    padding: 4px 8px;
    cursor: pointer;
}

a {
    color: var(--foreground-primary);
    text-decoration: none;
}

section {
    width: 100%;
    padding: 20px 0;
    margin-top: 48px;
    border-top: 1px solid var(--foreground-primary);
}

section h2 {
    margin-bottom: 16px;
}

.asci {
    font-size: 0.2vw;
}
