@font-face {
    font-family: 'Departure Mono';
    src: url('assets/DepartureMono-Regular.woff2') format('woff2');
}

:root {
    --font-family-primary: 'Departure Mono', monospace;

    --background-primary: #e2e2e2;
    --background-subtle: #c9c9c9;
    --foreground-primary: #242424;
    --border-focus: #1e46ff;

    --space-responsive-sm: 20px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family-primary);
    font-size: clamp(1.25rem, 4vw, 1.5rem);
    line-height: 1.4;
    word-break: break-all;
    background-color: var(--background-primary);
    color: var(--foreground-primary);
    padding: var(--space-responsive-sm);
    display: flex;
    flex-direction: column;
}

body.dark {
    --background-primary: #242424;
    --background-subtle: #363636;
    --foreground-primary: #e2e2e2;
    --border-focus: #6984fd;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--space-responsive-sm);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: clamp(4rem, 10vw, 8rem);
    line-height: 1.0;
}

button {
    font-family: var(--font-family-primary);
    background-color: var(--background-subtle);
    color: var(--foreground-primary);
    border: none;
    padding: 4px 8px;
    cursor: pointer;
}

button:focus, button:focus-visible {
    outline: 2px solid var(--border-focus);
    outline-offset: 2px;
}

a {
    color: var(--foreground-primary);
    text-decoration: none;
}

section {
    width: 100%;
    min-height: calc(100vh - var(--space-responsive-sm) * 2);
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

::selection {
  background-color: var(--foreground-primary);
  color: var(--background-primary);
}

@media screen and (min-width: 1024px) {
    :root {
        --space-responsive-sm: 40px;
    }
}
